15.NoderedIntroduction/flows.json
[{"id":"ec5305e7.7e2ce8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ca0e14.00fce2","type":"mqtt in","z":"ec5305e7.7e2ce8","name":"receiveMQTT","topic":"DemoTopic","qos":"0","datatype":"json","broker":"bb4451eb.d77e9","x":370,"y":560,"wires":[["6b27cd09.62d3d4","956b7940.cf0548","b57fe276.9497d","84808a32.08ddb8"]]},{"id":"1945eb3a.1abeb5","type":"mqtt out","z":"ec5305e7.7e2ce8","name":"sendMQTT","topic":"DemoTopic","qos":"","retain":"","broker":"bb4451eb.d77e9","x":910,"y":300,"wires":[]},{"id":"1aba2247.ef90ee","type":"inject","z":"ec5305e7.7e2ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":360,"wires":[["fa16446b.170938"]]},{"id":"fa16446b.170938","type":"function","z":"ec5305e7.7e2ce8","name":"message","func":"\nvar temp  = Math.round(Math.random() * 200);\nvar current=Math.round(Math.random() * 25);\nvar voltage=Math.round(Math.random() * 5);\n\nmsg.payload ={\n    'temp': temp,\n    'current': current,\n    'voltage': voltage\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["6d576b9f.e90144","1945eb3a.1abeb5"]]},{"id":"6d576b9f.e90144","type":"debug","z":"ec5305e7.7e2ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":380,"wires":[]},{"id":"6b27cd09.62d3d4","type":"change","z":"ec5305e7.7e2ce8","name":"getTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["fff27ccd.9ff83","3a8323c3.383f4c"]]},{"id":"956b7940.cf0548","type":"change","z":"ec5305e7.7e2ce8","name":"getVoltage","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":600,"wires":[["f6a9705e.c104d"]]},{"id":"b57fe276.9497d","type":"change","z":"ec5305e7.7e2ce8","name":"getCurrent","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.current","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":640,"wires":[["ebc3512f.c0bbf","fe5a99cd.1c14a8"]]},{"id":"fff27ccd.9ff83","type":"ui_gauge","z":"ec5305e7.7e2ce8","name":"Temperature","group":"7d7c5df9.7e35c4","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"80","x":890,"y":520,"wires":[]},{"id":"f6a9705e.c104d","type":"ui_chart","z":"ec5305e7.7e2ce8","name":"","group":"8e105c97.d121f","order":2,"width":"0","height":"0","label":"Voltage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":600,"wires":[[]]},{"id":"ebc3512f.c0bbf","type":"ui_chart","z":"ec5305e7.7e2ce8","name":"","group":"8e105c97.d121f","order":2,"width":"0","height":"0","label":"Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":640,"wires":[[]]},{"id":"3a8323c3.383f4c","type":"ui_chart","z":"ec5305e7.7e2ce8","name":"","group":"7d7c5df9.7e35c4","order":2,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":560,"wires":[[]]},{"id":"152eb03b.89066","type":"ui_button","z":"ec5305e7.7e2ce8","name":"","group":"4e65ccf6.4d3f04","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":420,"wires":[["fa16446b.170938"]]},{"id":"4587f272.2880ec","type":"file","z":"ec5305e7.7e2ce8","name":"","filename":"C:\\Users\\Marco\\Desktop\\cert\\output.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":900,"y":740,"wires":[[]]},{"id":"84808a32.08ddb8","type":"json","z":"ec5305e7.7e2ce8","name":"","property":"payload","action":"","pretty":false,"x":630,"y":740,"wires":[["4587f272.2880ec"]]},{"id":"fe5a99cd.1c14a8","type":"ui_form","z":"ec5305e7.7e2ce8","name":"","label":"","group":"7d7c5df9.7e35c4","order":2,"width":0,"height":0,"options":[{"label":"xcvbx","value":"xcvbxc","type":"text","required":true,"rows":null},{"label":"cxvbxc","value":"xcvbxc","type":"text","required":false,"rows":null}],"formValue":{"xcvbxc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":870,"y":680,"wires":[[]]},{"id":"bb4451eb.d77e9","type":"mqtt-broker","z":"","name":"AWS","broker":"a1lyhrmcii0ca8-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"310cb75f.5ea2a8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7d7c5df9.7e35c4","type":"ui_group","z":"","name":"Temperature","tab":"2cd061a5.3c3e8e","disp":true,"width":"6","collapse":false},{"id":"8e105c97.d121f","type":"ui_group","z":"","name":"Consumption","tab":"2cd061a5.3c3e8e","disp":true,"width":"6","collapse":false},{"id":"4e65ccf6.4d3f04","type":"ui_group","z":"","name":"button","tab":"2cd061a5.3c3e8e","disp":true,"width":"6","collapse":false},{"id":"310cb75f.5ea2a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"25523a396d-certificate.pem.crt","keyname":"25523a396d-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"2cd061a5.3c3e8e","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","disabled":false,"hidden":false}]